@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility drag-none {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  --font-serif: var(--font-pt-serif), Georgia, serif;
  font-family: var(--font-serif);
}
